@font-face {
  font-family: Akkurat-Mono;
  src: url(/assets/Akkurat-Mono.ttf);
}

@font-face {
  font-family: Adieu-Light;
  src: url(/assets/Adieu-Light.ttf);
}

@blue: rgba(45, 48, 222, 255);
@dark-blue: rgba(47, 47, 127, 255);
@yellow: rgba(255, 248, 119, 255);
@light-yellow: rgba(255, 255, 230, 0.4);

.main-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: @light-yellow;
  overflow: none;
}

.blobs {
  fill: @yellow;
  stroke: @dark-blue;
  stroke-width: 0;
  margin-left: -15px;
  margin-top: -15px;
}

.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  .logo {
    fill: @blue;
    stroke: none;
    position: absolute;
    top: 5px;
    left: 8px;
    width: 105px;
  }
  .logo-blob {
    position: absolute;
    top: -35px;
    left: -45px;
    width: 375px;
    fill: @yellow;
  }
}
.path {
  fill: none;
  stroke: @blue;
  stroke-width: 0px;
  position: absolute;

  &.path-1 {
    right: 15vw;
    top: 5vh;
    width: 30vw;
  }
  &.path-2 {
    right: 13vw;
    top: 20vh;
    width: 28vw;
    .type-on-path {
      font-size: 28pt;
    }
  }
  &.path-3 {
    right: 25vw;
    top: 43vh;
    width: 35vw;
    transform: rotateZ(7deg);
  }
  &.path-4 {
    right: 0;
    top: 48vh;
    width: 28vw;
  }
  &.path-5 {
    right: 18vw;
    top: 84vh;
    width: 36vw;
  }
}

.type-on-path {
  fill: @blue;
  stroke: none;
  font-size: 34pt;
  font-family: "Akkurat-Mono", courier;
  &:hover {
    text-decoration: line-through;
    cursor: pointer;
  }
}

.description-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 700px;
  height: 300px;
  min-width: 200px;
  .description-blob {
    fill: @yellow;
    position: absolute;
    left: -15%;
    bottom: -50px;
  }
  .description-text {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: @blue;
    font-family: "Adieu-Light", sans-serif;    
    max-width: 500px;
  }
}